@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --gradiente-top: linear-gradient(to top, #410346,#000, #000000);
  --gradiente-bottom: linear-gradient(to bottom, #410346, #000000);
  --dourado: #ffe270;
  --vermelho: #bd0000;
  --branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
  background-color: #000000;
}

.home-container {
    background: url(../img/CasteloFundo.png);
    height: 50vh;
    background-position: center;
    background-size: cover;
}
/* Barra de navegação */

.header {
  background-color: #000000;
  position: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 12% 1rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

/* Logo Site */

.logo img {
  width: 110px;
  height: 110px;
  cursor: default;
}

.logo:hover img {
  transform: scale(1.1);
}

/* Barra de navegação */

.navbar a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--branco);
  margin: 2rem;
  transition: 0.3s ease;
  text-transform: capitalize;
}

.navbar a:hover,
.navbar a.active {
  color: #ee00ff;
  border-bottom: 1px solid #ee00ff;
}

.navbar-nav .navbar-item {
  display: inline;
  margin-right: 1rem;
}

.navbar-collapse {
  display: none;
}

.navbar-collapse.show {
  display: block;
}

.navbar-toggler {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

/* Logado */

.bemVindo {
  font-size: 1.5rem;
}

.bemVindo u {
  color: #f00;
}

.bemVindo p {
  text-transform: uppercase;
  text-align: center;
  color: #f00
}

.buttonSair {
  display: flex;
}

.btnSair {
  padding: 1rem;
  border: 2px solid #f00;
  color: #f00;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 900;
}

.btnSair:hover {
  transform: scale(1.05);
}

/* Estilo do formulário */

h1 {
  text-align: center;
  text-transform: uppercase;
}

form {
  max-width: 600px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #c9c9c9; /* Cor de fundo branca */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
}

form label {
  display: block; /* Cada rótulo ocupa uma linha */
  margin-bottom: 5px; 
  font-weight: bold; 
  color: #495057; 
}

form input[type="text"],
form input[type="number"] {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 15px; 
  border: 1px solid #ced4da; 
  border-radius: 5px; /* Bordas arredondadas */
  box-sizing: border-box; /* Inclui padding e border no total */
}

form button {
  background-color: #ee00ff; 
  color: white; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
  font-size: 20px; 
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

form button:hover {
  background-color: var(--primeira-color); /* Cor de fundo mais escura ao passar o mouse */
}

form p {
  text-align: center; 
  margin: 10px 0; 
  font-weight: bold; 
}

form p[style*='color:red'] {
  color: red; /* Mensagens de erro em vermelho */
}

form p[style*='color:green'] {
  color: green; /* Mensagens de sucesso em verde */
}

.button-voltar {
  text-align: center;
  margin-top: 20px;
}

.btn-voltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ee00ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-voltar:hover {
  background-color: var(--primeira-color);
}